@page
@model ArticlesModel
@{
    ViewData["Title"] = "Articles";
}

<div class="text-center">
    <h1>Articles: </h1>
    <ul class="list-group">
        @foreach (var item in ArticlesModel.linkList)
            //Iterates through the list and makes links
        {
            <li class="list-group-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/@item">@item.ToUpper()</a>
            </li>
        }
    </ul>
</div>
