@page
@using InternalWiki.Data

@{
    ViewData["Title"] = "Articles";
}


<div class="text-center">
    <h1>Articles: </h1>
    <ul class="list-group">
        @{
            foreach (var item in BluePrint.ArticleList)
                //Iterates through the list and makes links.
            {
                <li class="list-group-item">
                    <a class="nav-link text-dark"
                       asp-page="\Article"
                       asp-route-id="@item.Key">
                        @{
                            var startPosition = item.Value.LastIndexOf(@"\", StringComparison.Ordinal);
                            var endPosition = item.Value.LastIndexOf(".", StringComparison.Ordinal); 
                        }
                        @* TODO: Fix magic numbers. *@
                        @item.Value.Substring(startPosition + 1,endPosition - startPosition - 1)
                    </a>
                </li>
            }
        }
    </ul>
</div>