@page
@using InternalWiki.Data

@{
    ViewData["Title"] = "Articles";
}


<div class="text-center">
    <h1>Articles: </h1>
    <ul class="list-group">
        @{
            foreach (var article in ArticleController.ArticleList)
                //Iterates through the list and makes links.
            {
                <li class="list-group-item">
                    <a class="nav-link text-dark"
                       asp-page="\Article"
                       asp-route-id="@article.Key"
                       asp-route-title="@article.Value.Title">
                        @* TODO: Fix magic numbers. *@
                        @article.Value.Title
                    </a>
                </li>
            }
        }
    </ul>
</div>

@{
    
}