@page
@model InternalWiki.NewModel
@{
    ViewData["Title"] = "New";
}

<div class="text-center">
    <h1>New Article</h1>
    <form method="post" class="form-group text-left">
        <br />
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <button type="button"
                        class="btn btn-outline-dark"
                        name="bold"
                        onclick="insertBold()">
                    <b> B </b>
                </button>
                <button type="button"
                        class="btn btn-outline-dark"
                        name="italic"
                        onclick="insertItalic()">
                    <i> I </i>
                </button>
                <button 
                    type="button" 
                    class="btn btn-outline-dark"
                    name="code"
                    onclick="insertCode()">
                    Code 
                </button>
            </div>
        </div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="Article.Title" class="form-control" />
        <label for="tags">Tags:</label>
        <input type="text" id="tags" name="Article.Tags" class="form-control" />
        <label for="content">Content:</label>
        <textarea class="form-control"
                  id="content"
                  name="Article.Content"
                  rows="10"
                  cols="70"></textarea>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    function insertBold() {
        document.getElementById("content").value += "<b></b>";
   } 
    function insertItalic() {
        document.getElementById("content").value += "<i></i>";
    }
    function insertCode() {
        document.getElementById("content").value += "<pre>\n<code>\n</code>\n</pre>\n";
    }
</script>
